<div class="container">
<div class="row">

	<div class="row">
		<h3>{$post['title']}</h3>
		<h5 class="text-muted">
			<span class="glyphicon glyphicon-user text-primary" title="发布时间"></span> {$post['uid']|uid}
			| <span class="glyphicon glyphicon-time text-primary" title="发布时间"></span> {$post['time']|date="Y/m/d H:i",###} 
			| <span class="glyphicon glyphicon-pencil text-primary" title="修改时间"></span>
			<if condition="$vo['edit_time']">
				{$post['edit_time']|date="Y/m/d H:i",###}
			<else/>
				{$post['time']|date="Y/m/d H:i",###}
			</if>
			| <span class="glyphicon glyphicon-book text-primary" title="阅读量"></span> {$post['view']}
			| <span class="glyphicon glyphicon-star text-success" title="收藏数"></span> {$post['save']}
		</h5>
	</div>
	<if condition="$post['is_video']">
		<div class="css">
			<link href="/plugins/danmu/css/scojs.css" rel="stylesheet">
  			<link href="/plugins/danmu/css/colpick.css" rel="stylesheet">
  			<link href="/plugins/danmu/css/bootstrap.css" rel="stylesheet">
  			<link rel="stylesheet" href="/plugins/danmu/css/main.css">
		</div>
		<div id="danmu"></div>
		<div class="js">
			<script src="/plugins/danmu/js/jquery-2.1.4.min.js"></script>
			<script src="/plugins/danmu/js/jquery.shCircleLoader.js"></script>
			<script src="/plugins/danmu/js/sco.tooltip.js"></script>
			<script src="/plugins/danmu/js/colpick.js"></script>
			<script src="/plugins/danmu/js/jquery.danmu.js"></script>
			<script src="/plugins/danmu/js/main.js"></script>
		</div>
		<script type="text/javascript">
			$("#danmu").DanmuPlayer({
    			src:"{$post['video_url']}",
    			height: "480px", //区域的高度
    			width: "800px" //区域的宽度
    			,urlToGetDanmu:"/Home/Danmu/index/pid/{$post['pid']}"
   				,urlToPostDanmu:"/Home/Danmu/send/pid/{$post['pid']}"
  			});
  			$("video").attr('poster',"{$post['image']}");
		</script>
		<if condition="$Think.session.user.uid eq NULL"> 
			<script type="text/javascript">
				$(".danmu-input").attr('placeholder','登入后才能发送弹幕！');
				$(".danmu-input").attr('readonly','readonly');
				$(".send-btn").html("<a class=\"text-danger\" href=\"/Home/User/login\">请先登入</a>");
			</script>
		<else/>
		</if>
		<div class="row">
			<h4>
				描述：
			</h4>
			<blockquote>
				<p class="col-md-12 col-xs-12">{$post['post']}</p>
			</blockquote>
		</div>
	<else/>
		<div class="row">
			<div class="row">
				{$post['post']}
			</div>
			<div class="row">
			<hr/>
			</div>
		</div>
	</if>
	<div class="row">
		{$post['pid']|admin_pid_tag}
	</div>
</div>

</div>

<script>
	$(".admin_tag").click(function(){
		var value=$(this).attr("value");
		if(value){
			$.ajax({
				url:'/Admin/Index/tag_del/tid/'+value,
				success:function(data){
					if(data.status){
						$("#tid"+value).remove();
					}
				}

			})
		}
	})

</script>