<div class="container">
	<div class="row">
		<div class="col-md-3 col-md-xs-6">
			<h2 ><a href="/">Nyaa动漫</a></h2>
		</div>
		<div class="col-md-4 col-md-xs-6" style="margin-top:20px; ">
			<form action="/Home/Index/search" >
			<div class="input-group">
			<input type="text" placeholder="搜索一下" class="form-control" name="search">
				<div class="input-group-btn">
					<button class="btn btn-danger"><span class="glyphicon glyphicon-search"></span></button>
				</div>
			</div>
			</form>
		</div>
		<div class="col-md-3 col-md-offset-2">
			<a href="/Home/User" class="btn btn-link" title="用户中心 {$Think.session.user.name}"><img src="/Home/User/avatar/uid/{$Think.session.user.uid}" width="70px" class="img-circle"></a>
		</div>
	</div>
</div>

<div class="container-fluid show_header_image" style="background-image:url(http://bilibara.com/images/2017/02/08/maxresdefault.jpg);">
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
</div>
<script type="text/javascript">
	$(document).ready(function(){
		var index=$('#index').attr("value");
		if(index){
		}else{
			$(".show_header_image").hide();
		}
	})
</script>