<div class="container">
	<div class="row">
		<div class="col-md-3 col-xs-12">
			<h2 ><b><a href="/" class="text-danger">YPAYPA</a></b></h2>
		</div>
		<div class="col-md-4 col-xs-12" style="margin-top:20px; ">
			<form action="/Home/Index/search" >
			<div class="input-group">
			<input type="text" placeholder="搜索一下" class="form-control" name="search">
				<div class="input-group-btn">
					<button class="btn btn-danger"><span class="glyphicon glyphicon-search"></span></button>
				</div>
			</div>
			</form>
		</div>
		<div class="col-md-3 col-md-offset-2 col-xs-12" style="margin-top:20px; ">
			<if condition="$Think.session.user.uid gt 0">
				<a href="/Home/User" class="text-muted"><h4> 用户:{$Think.session.user.name}</h4></a>
			<else/>
				<a href="/Home/User/login"  class="text-muted"><h4>登入</h4></a>
			</if>		
		</div>
	</div>
</div>

<div class="container-fluid show_header_image hidden-xs" style="background:url(/static/img/y.jpg) no-repeat bottom center;height:280px;background-size:100%;">

</div>
<script type="text/javascript">
	$(document).ready(function(){
		var index=$('#index').attr("value");
		if(index){
		}else{
			$(".show_header_image").remove();
		}
	})
	var width=document.body.clientWidth;
	if(width<800){
		$(".show_header_image").remove();
	}

</script>
