<link rel="stylesheet" type="text/css" href="/static/css/comment.css">
<link rel="stylesheet" href="/plugins/em/lib/css/jquery.mCustomScrollbar.min.css"/>
<link rel="stylesheet" href="/plugins/em/dist/css/jquery.emoji.css"/>
<link rel="stylesheet" href="/plugins/em/lib/css/railscasts.css"/>
<link rel="stylesheet" href="/plugins/em/dist/css/index.css"/>
<script src="/plugins/em/lib/script/jquery.min.js"></script>
<script src="/plugins/em/lib/script/highlight.pack.js"></script>
<script src="/plugins/em/lib/script/jquery.mousewheel-3.0.6.min.js"></script>
<script src="/plugins/em/lib/script/jquery.mCustomScrollbar.min.js"></script>
<script src="/plugins/em/dist/js/jquery.emoji.min.js"></script>
<script src="/static/js/time.js"></script>
<style>
	.emoji_icon{
		width:66px;
	}

</style>
<div class="col-md-10 col-md-offset-1">
	<div class="row" >
	<if condition="$Think.session.user.uid eq NULL">
		<div class="col-md-12" style="margin-top:20px;">
			<div class="row text-center">
					<b><a href="/Home/User/login">登入</a>或者<a href="/Home/User/join">注册</a></b>
			</div>
		</div>
	<else/>
		<div class="col-md-12" style="margin-top:20px;padding:20px;border:1px solid #BBB;" >
			<a name="replay"></a>
			<span class="text-muted" style="margin:10px;">用户:{$Think.session.user.name} <b class="rep text-primary"> </b></span>
			<input type="number" class="hide" name="cid" id="cid">
			<input type="number" class="hide" name="relou" id="relou">
			<div class="row"  style="margin:10px;">
				<div class="row">
					<img  id="btn" src="/plugins/em/dist/img/acfun/6.gif" width="25px;">
				</div>
				<div>
					<div style="border:solid 1px #EEE;border-radius:5px; height:150px;" id="com" contenteditable="true" class="row" ></div>
				</div>
				<div class="row text-right" style="margin-top:5px;">
					<button class="btn btn-info comment_click">回复</button>
				</div>
			</div>
		</div>
	</if>
	</div>
	<div class="row comment" style="margin-top:40px;">
		
	</div>
	<div class="row page text-center">
		<div class="row">
			<div class="col-md-2 col-md-offset-5">
				<span>共<span class="pl"></span>条评论跳转到: <span contentEditable="true" class="text-info" id="num">1</span>页 <button class="jump btn-sm btn btn-info">跳页</button></span>
			</div>
		</div>
		<div class="row">
			<span class="glyphicon glyphicon-chevron-up" onClick="page_pre()"></span>
			<span class="xpage"></span>
			<span class="glyphicon glyphicon-chevron-down" onClick="page_next()"></span>
		</div>
	</div>
</div>


<script type="text/javascript">
	var page=1;
	var count=1
	comment(page,{$post['pid']})
	function comment(page,pid) {
		$.ajax({
			url:'/Home/Comment/show/pid/'+pid+'/page/'+page,
			beforeSend:function(data){
				$(".comment").html("");
				var loading=$("<div class=\"text-center\"><img src=\"/static/img/loading.gif\"/></div>");
				loading.appendTo(".comment");
			},
			success:function(data){
				if(data.status){
					all_page=data.con.count/25;
					count=data.con.count;
					show(data.con.comment);//评论
					page=data.con.page;
					xpage();
					pl();
				}else{
					$(".comment").html("<div class=\"text-center\"><h2 class=\"text-muted\">暂无评论</h2></div>");
				}
			}

		})
	}
	function show(data){
		$(".comment").html("");
		for(x in data){
			var box=$("<div class=\"row comment_list\"></div>")
			var image=$("<div class=\"user col-md-1 col-xs-12\"><a name=\""+data[x].lou+"\"></a><img class=\"img-rounded\" src=\"/Home/User/avatar/uid/"+data[x].uid+"/type/small\"/></div>");
			var div_c=$("<div class=\"col-md-11 col-xs-12\"></div>");
			if(data[x].relou>0){
				var relou=$("<div  class=\"row text-warning\">回复#"+data[x].relou+"</di>");
				relou.appendTo(div_c);

			}
			var user=$("<div class=\"row\"><div class=\"col-md-6 text-primary\">#"+data[x].lou+" "+data[x].name+"</div><small class=\"col-md-6 text-right\"><span class=\"text-primary\" onClick=\"re("+data[x].cid+","+data[x].lou+")\">回复 </span>发布于:"+gettime(data[x].time)+"</small> </div>");
			var comment=$("<div class=\"row\">"+data[x].comment+"</div>");
			$("<hr>").appendTo(".comment");
			user.appendTo(div_c);
			comment.appendTo(div_c);
			image.appendTo(box);
			div_c.appendTo(box);
			box.appendTo(".comment");
		}
		show_ac();
	}
	function add(data){
		var box=$("<div class=\"row comment_list\"></div>")
			var image=$("<div class=\"user col-md-1 col-xs-12\"><a name=\""+data.lou+"\"></a><img class=\"img-rounded\" src=\"/Home/User/avatar/uid/"+data.uid+"/type/small\"/></div>");
			var div_c=$("<div class=\"col-md-11 col-xs-12\"></div>");
			if(data.relou>0){
				var relou=$("<div  class=\"row text-warning\">回复#"+data.relou+"</di>");
				relou.appendTo(div_c);

			}
			var user=$("<div class=\"row\"><div class=\"col-md-6 text-primary\">#"+data.lou+" "+data.name+"</div><small class=\"col-md-6 text-right\"><span class=\"text-primary\" onClick=\"re("+data.cid+","+data.lou+")\">回复 </span>发布于:"+gettime(data.time)+"</small> </div>");
			var comment=$("<div class=\"row\">"+data.comment+"</div>");
			//$("<hr>").prependTo(".comment");
			user.appendTo(div_c);
			comment.appendTo(div_c);
			image.appendTo(box);
			div_c.appendTo(box);
			box.prependTo(".comment");
			show_ac();
			pl();
	}
	$(".comment_click").click(function(){
		var com=$("#com").html();
		var cid=$("#cid").val();
		var relou=$("#relou").val();
		console.log(com);
		$.ajax({
			url:'/Home/Comment/add',
			method:'post',
			data:{
				ccid:cid,
				comment:com,
				pid:{$post['pid']},
				relou:relou
			},
			success:function(data){
				if(data.status){
					count=count+1;
					add(data.con);
					$("#com").text("");
					$("#com").text("已经发布评论！");
					$("#cid").val("");
					$("#relou").val("");
					$(".rep").text("");
				}else{
					confirm(data.con);
				}
			}

		})
	})


	hljs.initHighlightingOnLoad();
	$("#com").emoji({
			button: "#btn",
            showTab: true,
            animation: 'fade',
            icons: [ {
            name: "AC娘",
            path: "/plugins/em/dist/img/acfun/",
            maxNum: 54,
            file: ".gif",
            placeholder: "#acfun_{alias}#"
        }]
        });
	function show_ac(){
		$(".comment_list").emojiParse({
            icons: [
            {   path: "/plugins/em/dist/img/acfun/",
                maxNum: 54,
                file: ".gif",
                placeholder: "#acfun_{alias}#"
            }
            ]
        })
	}
	function page_pre(){
		page=page-1;
		if(page>0){
			comment(page,{$post['pid']})
		}
	}
	function page_next(){
		page=page+1;
		if(page<=Math.ceil(count/25)){
			comment(page,{$post['pid']})
		}
	}
	function re(cid,lou){
		$(".rep").text("回复"+lou+"楼:");
		$("#relou").val(lou);
		$("#cid").val(cid);
		location.href = "#replay"; 


	}
	function xpage(){
		var now="第"+page+"页/共"+Math.ceil(count/25)+"页";
		$(".xpage").html(now);
	}
	function pl(){
		$(".pl").text(count);
	}
	$(".jump").click(function(){
		page=$("#num").text();
		if(page<=Math.ceil(count/25)&&page>0){
			comment(page,{$post['pid']});
		}
	})

</script>
