<div class="row">
	
</div>
<div class="row">
	<div class="col-md-2" title="头像">
		<img src="/Home/User/avatar/uid/{$Think.session.user.uid}" class="img-circle" title="点击修改" data-toggle="modal" data-target=".change_image">
	</div>
	<div class="col-md-6">
		<p title="用户信息:ID">ID:{$Think.session.user.uid}</p>
		<p title="用户信息:用户名">用户名:{$Think.session.user.name}</p>
		<p title="用户信息:邮箱">邮箱:{$Think.session.user.email}</p>
		<p>总积分:{$point} 今日获得积分:{$today}</p>
		<p>
		<if condition="$qian">
			<span class="label label-success">已经连续签到{$qian}天</span>
		<else/>
			<span class="label label-info" title="点击签到" id="qian">未签到</span>
			<script type="text/javascript">
			$("#qian").click(function(){
				$.ajax({
					url:"/Home/User/qian",
					success:function(data){
						if(data.status){
							$("#qian").removeClass('label-info');
							$("#qian").addClass("label-success");
							$("#qian").text(data.con);
						}else{
							confrim("签到可能失败！");
						}
					}
				})
			})
			</script>
		</if>
		</p>
		<p> <a href="/Home/Post/create_post" class="btn btn-primary">发布</a>  <button class="btn btn-info" id="save">收藏 <span class="badge">{$Think.session.user.uid|saveuid}</span></button> <button class="btn btn-success" id="message">消息<span class="badge">{$message}</span></button> <button class="btn btn-warning" id="tz">通知<span class="badge">{$tz}</span></button> <button class="btn btn-default" id="change_pw">修改密码</button> <a href="/Home/User/logout" class="btn btn-danger">登出</a></p>
	</div>
</div>
<div class="row">
	<div class="panel panel-default">
	<table class="table">
		<tr>
			<th>类型</th>
			<th>帖子名称</th>
			<th>发帖时间</th>
			<th>修改时间</th>
			<th>审核状态</th>
		</tr>
	<volist name="post" id="vo">
		<tr>
			<td >
  				<if condition="$vo['is_video']">
  					<span class="text-primary glyphicon glyphicon-film"></span>
  				<else/>
  					<span class="glyphicon glyphicon-book"></span>
  				</if>
  			</td>
			<td>
				<a href="/Home/Index/post/pid/{$vo['pid']}" title="未通过审核前无法查看" class="bhh">{$vo['title']}</a>
				<a href="/Home/Post/edit_post/pid/{$vo['pid']}" class="text-warning" title="编辑修改"><span class="glyphicon glyphicon-pencil"></span></a>
			</td>
			<td>{$vo['time']|date="Y/m/d H:i",###}</td>
			<if condition="$vo['edit_time']">
				<td>{$vo['edit_time']|date="Y/m/d H:i",###}</td>
			<else/>

				<td>{$vo['time']|date="Y/m/d H:i",###}</td>
			</if>
			<if condition="$vo['is_show']">
				<td><span class="label label-success">通过</span></td>
			<else/>
				<td><span class="label label-warning">未通过</span></td>
			</if>
		</tr>
	</volist>
	</table>
	<div class="text-center">
		{$page}
	</div>
	</div>
</div>

<div class="modal fade"  id="modal" role="dialog">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h3 class="modal-title">
					
				</h3>
			</div>
			<div class="modal-body">
				<iframe src="" id="iframe" width="95%" frameborder="no"   allowtransparency="yes"  onload="iFrameHeight('iframe')"></iframe>
				<div id="content">
					
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>

	</div>
</div>

<div class="modal fade"  id="mmodal" role="dialog" rem="消息列表">
	<div class="modal-dialog modal-lg" role="document">
		<iframe src="" id="miframe" width="95%" frameborder="no"   allowtransparency="yes"   onload="iFrameHeight('miframe')"></iframe>
	</div>
</div>

<script type="text/javascript">
	$("#save").click(function(){
		$('#modal').modal('show');
		$(".modal-title").text("收藏夹");
		$("#iframe").attr("src","/Home/User/save");
	})
	$("#tz").click(function(){
		$('#modal').modal('show');
		$(".modal-title").text("通知");
		$("#iframe").attr("src","/Home/User/tz");
	})
	$("#message").click(function(){
		$('#mmodal').modal('show');
		$("#miframe").attr("src","/Home/User/message");
	})
	$("#change_pw").click(function(){
		$('#modal').modal('show');
		$(".modal-title").text("修改密码");
		$("#iframe").attr("src","/Home/User/change_pwd");
	})
 	function iFrameHeight(mx) { 
			var ifm= document.getElementById(mx); 
			var subWeb = document.frames ? document.frames[mx].document : ifm.contentDocument; 
			if(ifm != null && subWeb != null) { 
				ifm.height = subWeb.body.scrollHeight; 
			} 
		} 
</script>

























<div class="modal fade change_image">
	<div class="modal-dialog modal-md" role="document">
		{$cn}
	</div>
</div>