{__NOLAYOUT__} 

<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap-theme.min.css">
	<script src="https://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
	<script src="https://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
	<script src="https://cdn.bootcss.com/messenger/1.5.0/js/messenger.min.js"></script>
	<link href="https://cdn.bootcss.com/messenger/1.5.0/css/messenger.min.css" rel="stylesheet">
	<link href="https://cdn.bootcss.com/messenger/1.5.0/css/messenger-theme-future.min.css" rel="stylesheet">
</head>	
<body>
<div class="container">
	<div class="row">
		<div class="panel panel-default">
			<table class="table">
				<tr>
					<th>内容</th>
					<th>时间</th>
					<th>状态</th>
				</tr>
				<volist name="info" id="vo">
					<tr>
						<td>{$vo['info']}</td>			
						<td>{$vo['time']|date="Y/m/d H:i",###}</td>			
						<td>
							<if condition="$vo['view']">
								<span class="text-success glyphicon glyphicon-ok "></span>
							<else/>
								<span class="text-danger glyphicon glyphicon-envelope"></span>
							</if>
						</td>			
					</tr>
				</volist>
			</table>
			<div class="text-center">
				{$page}
			</div>
		</div>
	</div>
</div>
</body>
</html>